
@font-face {
    font-family: 'Sourse_Sans_Pro';
    src: url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff) format('woff'),
        url(../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
        url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
        url(../assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
} 
@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.woff) format('woff'),
        url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-Italic.woff) format('woff'),
        url(../assets/fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
} 
