$font-size-main: 18px;
$fontfam-main: 'Montserrat', sans-serif;
$font-weight: 400;
$main-color-text: #521f1f;
$second-color: #b59c9c;
$third-color: #dac8c8;
$second-fontfam: 'Open Sans',sans-serif;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
